.banner {background: url('../images/banner.jpg') no-repeat center center;height: 1599px;}
.match-top {padding-top: 470px;}
.match-time {font-size: 16px;text-align: center;color:#fff;}
.match-info {margin-top: 160px;}
.match-info dl{margin-bottom: 40px;}
.match-info dt{font-size: 30px;text-align: center;color:#31aaf6;margin-bottom: 25px;}
.match-info dd{font-size: 16px;color:#666;width: 960px;margin:0 auto;}
.match-video .pic-box {width: 413px;height: 233px;position: relative;margin:30px auto 0;cursor: pointer;}
.match-video .pic-box .mask {width: 100%;height: 100%;position: absolute;bottom: 0;left: 0;background: rgba(0,0,0,0.5);}
.match-video .video-pic {width: 100%;height: 100%;}
.match-video .video-play {width: 168px;margin:35px auto 0;display: block;}
.sign-btn {width: 249px;display: block;margin:30px auto 0;position: relative;}
.sign-pic {width: 249px;}
.sbtn {position: absolute;left: 50%;margin-left: -95px;top: 22px;cursor: pointer;width: 190px;height: 55px;border-radius:15px;z-index:50;
background: blue;opacity: 0;filter:alpha(opacity=0);}

.company {background: #f5f5f5;padding:90px 0 50px 0;}
.company .content {width: 1110px;margin:0 auto;}
.company h2 {font-size: 30px;color:#31aaf6;}
.company .cbox {padding: 50px;background: #fff;border-radius:8px;margin-top: 50px;box-shadow:0 20px 40px rgba(0,0,0,0.08);}
.company .ctitle h3{font-size: 26px;color:#fd7555;margin-bottom: 25px;}
.company .ctitle .p1 {font-size: 16px;color:#333;}
.company .c-list {width: 420px;height: 90px;overflow: hidden;margin-top: 30px;}
.company .c-single {width: 100%;}
.company .c-list img{width: 90px;}
.company .c-list .info {margin-left: 105px;}
.company .c-list .info .name {font-size: 18px;color:#333;}
.company .c-list .info .desc {font-size: 14px;color:#666;line-height: 24px;margin-top: 10px;}

.cbox2 .c-list {width: 480;height: 120px;overflow: hidden;margin-top: 5px;}
.cbox2 .c-list img{width: 120px;}
.cbox2 .c-list .info {margin-left: 135px;}
.cbox2 .c-list .info .name {font-size: 20px;color:#333;}
.cbox2 .c-list .info .desc {font-size: 14px;color:#666;line-height: 20px;margin-top: 10px;}

.rcon {background: url('../images/bj1.png') no-repeat center center;height: 748px;}
.rcon .rtxt {width: 1110px;margin:0 auto;color:#fff;font-size: 16px;padding-top:100px;}
.rcon .rtxt dt{font-size: 32px;}
.rcon .rtxt dd{font-size: 16px;margin-top: 35px;}
.program {background: #fff;}
.program .txt {width: 1110px;margin:0 auto 50px;}
.program .txt3 {position: relative;}
.program .txt3 .decorate {position: absolute;width: 425px;height: 324px;bottom: -15px;right: 10px;}
.program dt{font-size: 32px;color:#31aaf6;margin-bottom: 30px;}
.program dd{font-size: 16px;color:#666;}
.program .d1 {margin-top: 20px;}
.program .d2 {color:#fd7244;}
.program .d3 {margin-bottom: 30px;}
.program .abtn {width: 249px;margin-top: 20px;position: relative;left: -25px;}
.program .abtn img{width: 100%;}
.program .abtn .download {position: absolute;width: 192px;height: 55px;border-radius:18px;top: 22px;left: 50%;margin-left: -96px;
background: blue;opacity: 0;filter:alpha(opacity=0);}

.price .price-info {width: 50%;color:#fff;background: #31aaf6;padding:60px 0 59px 0;}
.price .price-info dt{font-size: 32px;padding-bottom: 15px;}
.price .price-con {margin-right: 51px;}
.price .price-con dd{font-size: 16px;}
.price .price-con .d5 {font-size: 20px;}
.price .price-con .d6 {margin: 15px 0;}
.price .code-box {background: #fe7546;width: 50%;padding:60px 0;}
.price .code-con {width: 335px;text-align: center;margin:20px 0 0 70px;}
.price .code-con .tips {font-size: 24px;color:#fff;}
.price .code-con img{width: 262px;height: 262px;margin-top: 20px;box-shadow:0 20 40 rgba(202,70,25,0.6);}
.bottom {background: #fff;padding:40px 0;}
.bottom .bottom-con {width: 1110px;margin:0 auto;}
.bottom .p1 {font-size: 32px;color:#31aaf6;}
.bottom .p2 {font-size: 32px;color:#333;margin:10px 0 5px 0;}
.bottom .p3 {font-size: 24px;color:#666;}

.video {position: fixed;width: 900px;height: 620px;left: 50%;top: 50%;margin:-310px 0 0 -450px;z-index:1000;}
.video-con {position: relative;}
.video embed{width: 900px;height: 620px;}
.mask {z-index:999;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.5);position: fixed;}
.close {width: 50px;height: 50px;position: absolute;left: 50%;margin-left: -25px;bottom: -70px;}